p.break {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  border-top: thin solid silver;
  color: gray;
}
TEI-byline {
  display: block;
  text-align: center;
}
TEI-closer {
  display: block;
}
TEI-closer>TEI-salute {
  display: block;
}
TEI-closer>TEI-signed {
  display: block;
  text-align: right;
}
TEI-div {
  display: block;
}
TEI-div[type=dedication]>TEI-lg {
  margin: auto;
  text-align: center;
}
TEI-docauthor {
  display: block;
  text-align: center;
}
TEI-docauthor>TEI-name {
  display: block;
  font-size: 2em;
}
TEI-docimprint {
  display: block;
  margin-top: 10em;
  text-align: center;
}
TEI-doctitle>TEI-titlepart {
  display: block;
  text-align: center;
}
TEI-doctitle>TEI-titlepart[type=main] {
  font-size: 3em;
}
TEI-doctitle>TEI-titlepart[type=subtitle] {
  font-size: 2em;
}
TEI-emph[rend=bold] {
  font-weight: bold;
}
TEI-figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
TEI-figure>TEI-p {
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
TEI-hi[rend=italics] {
  font-style: italic;
}
TEI-l {
  display: block;
}
TEI-lg {
  display: block;
  margin-left: 5em;
}
TEI-list[type=simple] {
  list-style-type: none;
}
TEI-list[type=simple]>TEI-item {
  display: list-item;
}
TEI-p {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: justify;
}
TEI-TEI {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
TEI-text {
  display: block;
  width: 750px;
  margin: auto;
}
TEI-titlepage {
  display: block;
}


/* Règles concernant la description des corpus */

TEI-msDesc {
    display: block;
    border-left: 2px outset gray;
    border-radius: 0px 5px 5px 0px;
    background: rgb(221, 221, 222);
    margin: 0.5em 0;
    padding: 0.5em;
    max-width: 40em;
}

TEI-bibl {
    display: block;
    border-left: 2px outset gray;
    border-radius: 0px 5px 5px 0px;
    background: rgb(221, 221, 222);
    margin: 0.5em 0;
    padding: 0.5em;
    max-width: 40em;
}

TEI-msIdenfifier {
    display: block;
}

TEI-settlement {
    display: inline;

}


TEI-settlement:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

TEI-settlement::after {
    display: inline;
    content: ',';
}

TEI-settlement:last-child::after {
    display: inline;
    content: '.';
}

TEI-repository {
    display: inline;
}

TEI-repository:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

TEI-repository::after {
    display: inline;
    content: ',';
}

TEI-repository:last-child::after {
    display: inline;
    content: '.';
}

TEI-collection {
    display: inline;
}

TEI-collection:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

TEI-collection::after {
    display: inline;
    content: ',';
}

TEI-collection:last-child::after {
    display: inline;
    content: '.';
}

TEI-idno {
    display: inline;
}

TEI-idno:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

TEI-idno::after {
    display: inline;
    content: ',';
}

TEI-idno:last-child::after {
    display: inline;
    content: '.';
}

TEI-altIdentifier {
    display: inline-block;
}

TEI-altIdentifier::before {
    display: inline-block;
    content: '[id. alt.]';
    color: gray;
}

TEI-publisher {
    display: inline;
}

TEI-publisher:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

TEI-publisher::after {
    display: inline;
    content: ',';
}

TEI-publisher:last-child::after {
    display: inline;
    content: '.';
}

TEI-pubPlace {
    display: inline;
}

TEI-pubPlace:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

TEI-pubPlace::after {
    display: inline;
    content: ',';
}

TEI-pubPlace:last-child::after {
    display: inline;
    content: '.';
}

TEI-date {
    display: inline;
}

TEI-date:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

TEI-date::after {
    display: inline;
    content: ',';
}

TEI-date:last-child::after {
    display: inline;
    content: '.';
}


TEI-msDesc cite::after {
    content: ',';
    font-style: normal;
}

TEI-bibl cite::after {
    content: ',';
    font-style: normal;
}

TEI-bibl cite:last-child::after {
    content: '.';
    font-style: normal;
}


TEI-msDesc cite:last-child::after {
    content: '.';
    font-style: normal;
}


/*ajout lien hypertexte*/

TEI-ref:hover {
  color: #C39EA0;
  text-decoration: underline;
  cursor: pointer;
}


/* Règles concernant les transcriptions des manuscrits */

TEI-rubric {
    display: block;
    color: brown;
}

TEI-hi {
    display: inline;
}


TEI-g[type="initiale"] {
    display: inline;
    font-size: 1.5em;
    color: blue;
}

TEI-num {
    display: inline;
    font-variant: small-caps;
}

TEI-note {
    display: none;
}

TEI-pb::before {
    display: inline-block;
    margin-top: 0.5em;
    padding-top: 0.5em;
    content: '[' attr(n) ']';
    font-family: 'TeX Gyre Chorus',
    'URW Chancery',
    'Zapf Chancery',
    'Lucida Calligraphy',
    'Apple Chancery',
    'Palatino',
    serif;
    color: gray;
}

TEI-cb::before {
    display: inline-block;
    max-width: 6em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    content: '[' attr(n) ']';
    font-family: 'TeX Gyre Chorus',
    'URW Chancery',
    'Zapf Chancery',
    'Lucida Calligraphy',
    'Apple Chancery',
    'Palatino',
    serif;
    color: gray;
}

TEI-lb:after {
  content: '\a';
  white-space: pre;
}

TEI-expan {
    display: inline;
}

TEI-ex {
    display: inline;
    font-style: italic;
}

TEI-g {
    display: inline;
}

TEI-g[type="exposant"] {
    font-size: 80%;
    vertical-align: super;
    position: relative;
    top: -0.4em;
}

TEI-g[type="pied-de-mouche"]::before {
    content: '❡';
}




TEI-hi[rend="strike"] {
    text-decoration: line-through
}
